@media only screen and (min-width: 500px)
    /* for desktop: */
    :root {
    font-family: "Times New Roman", Times, serif;
}

:root {
    font-size: 14px;
}

:root {
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 16px
    line-height: normal;
}

html * {

    box-sizing: border-box;
}

[class name] ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

body {
    margin: 0;
}
