p {
    font-family: "Times New Roman", Times, serif;
}

p {
    font-size: 14px;
}

h1 {
    font-family: font-family:"Lucida Console", "Courier New", monospace;
    font-size: 16px
    line-height: normal;
}

html * {

    box-sizing: border-box;
}

[class name] ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

body {
    margin: 0;
}
