@media only screen and (min-width: 500px)
    /* for desktop: */
    :root {
    font-family: "Times New Roman", Times, serif;
}

:root {
    font-size: 14px;
}

:root {
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 16px
    line-height: normal;
}

body {
  background-image: https://github.com/RUC-web/unit-1-project-colejhurley/blob/master/Artworks-metal-gear-solid-v-the-phantom-pain-038.jpg
}

html * {

    box-sizing: border-box;
}

<nav> ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

body {
    margin: 0;
}
